<div id="loginForm" fxLayout="column" fxLayoutAlign="center center">
    <h1>JAMK Opokartta</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" fxLayout="column" fxLayoutAlign="center start">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input ngModel name="username" matInput required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input ngModel name="password" matInput required>
        </mat-form-field>
        <br>
        <button mat-flat-button class="button">LOGIN</button>
    </form>
    <br>
    <p *ngIf="error" style="color:red; margin-top: 1em;">{{ error }}</p>
</div>
