<div fxLayout="column" fxLayoutAlign="start start" class="main-page-wrapper" *ngIf="page">
    <button mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="content-title">{{ page.pageName }}</h1>
    <div fxLayout="column" fxLayoutAlign="start start">
        <div *ngFor="let pageContent of page.pageContent">
            <div class="element">
                <h2>{{ pageContent.name }}</h2>
                <p *ngIf="pageContent.descriptionTitle">{{ pageContent.descriptionTitle }}</p>
                <button [routerLink]="['/page', page._id, 'content', pageContent._id]" mat-flat-button>NÄYTÄ SISÄLTÖ</button>
                <button mat-flat-button>MUOKKAA</button>
                <button mat-flat-button>POISTA</button>
            </div>
        </div>
    </div>
</div>