<div fxLayout="column" fxLayoutAlign="start start" class="main-page-wrapper" *ngIf="page">
    <button class="back-button" mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <h1 class="content-title">{{ page.pageName }}: ongelmat</h1>
    <button (click)="toggleCreate()" mat-flat-button class="button button-add">LUO UUSI</button>

    <!-- Create element card -->
    <div class="element" *ngIf="createIsToggled">
        <form class="edit" #createForm="ngForm" (ngSubmit)="onCreateSubmit(createForm.value)" fxLayout="column" fxLayoutAlign="center start">
            <mat-form-field appearance="fill">
                <mat-label>Ongelman nimi</mat-label>
                <input type="text" ngModel name="name" matInput required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Ongelman kuvaus</mat-label>
                <textarea
                    ngModel
                    name="descriptionTitle"
                    matInput></textarea>
            </mat-form-field>
            <button mat-flat-button>TALLENNA</button>
        </form>
        <button mat-flat-button (click)="toggleCreate()">PERUUTA</button>
    </div>

    <div fxLayout="column" fxLayoutAlign="start start">
        <div *ngFor="let pageContent of page.pageContent; let i = index">
            <!-- Normal element card -->
            <div class="element" *ngIf="!createIsToggled && elementToEdit !== pageContent._id">
                <div>
                    <h2>{{ pageContent.name }}</h2>
                    <p *ngIf="pageContent.descriptionTitle">{{ pageContent.descriptionTitle }}</p>
                    <button [routerLink]="['/page', page._id, 'content', pageContent._id]" mat-flat-button>NÄYTÄ SISÄLTÖ</button>
                    <button mat-flat-button (click)="toggleEdit(pageContent._id)">MUOKKAA</button>
                    <button mat-flat-button (click)="deletePageContent(pageContent._id)">POISTA</button>
                </div>
                <div>
                    <button (click)="moveElement(page._id, pageContent._id, 'up')" *ngIf="i > 0" class="move-button">&uarr;</button>
                    <button (click)="moveElement(page._id, pageContent._id, 'down')" *ngIf="i < page.pageContent.length-1" class="move-button">&darr;</button>
                </div>
            </div>

            <!-- Edit element card -->
            <div class="element" *ngIf="!createIsToggled && editIsToggled && elementToEdit == pageContent._id">
                <form class="edit" #editForm="ngForm" (ngSubmit)="onEditSubmit(page._id, pageContent._id, editForm.value)" fxLayout="column" fxLayoutAlign="center start">
                    <mat-form-field appearance="fill">
                        <mat-label>Ongelman nimi</mat-label>
                        <input type="text" [ngModel]="pageContent.name" name="name" matInput required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Ongelman kuvaus</mat-label>
                        <textarea
                            [ngModel]="pageContent.descriptionTitle ? pageContent.descriptionTitle : ''"
                            name="descriptionTitle"
                            matInput></textarea>
                    </mat-form-field>
                    <button mat-flat-button>TALLENNA</button>
                </form>
                <button mat-flat-button (click)="toggleEdit()">PERUUTA</button>
            </div>
        </div>
    </div>
</div>