<div fxLayout="column" fxLayoutAlign="start start" class="main-page-wrapper" *ngIf="pageContent">
    <button class="back-button" mat-icon-button [routerLink]="['/page', pageId]">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="content-title">{{ pageContent.name }}: tukipalvelut</h1>
    <button (click)="toggleCreate()" mat-flat-button class="button button-add">LUO UUSI</button>

    <!-- Create element card -->
    <div class="element" *ngIf="createIsToggled">
        <form class="edit" [formGroup]="createForm" (ngSubmit)="onCreateSubmit(pageContent._id)" fxLayout="column" fxLayoutAlign="center start">
            <mat-form-field appearance="fill">
                <mat-label>Tukipalvelun nimi</mat-label>
                <input type="text" formControlName="sourceName" matInput required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tukipalvelun kuvaus</mat-label>
                <textarea
                    formControlName="description"
                    matInput
                ></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Tukipalvelun puhelinnumero</mat-label>
                <input type="text" formControlName="phone" matInput>
            </mat-form-field>
            <div class="mat-ff-wrap" formArrayName="links" *ngFor="let link of createFormLinks.controls; let i = index">
                <mat-form-field appearance="fill">
                    <mat-label>Linkki #{{i+1}}</mat-label>
                    <textarea [formControlName]="i" matInput></textarea>
                    <button mat-flat-button color="warn" (click)="removeCreateLink(i)">X</button>
                </mat-form-field>
            </div>
            <div fxLayout="column">
                <div fxLayout="row">
                    <button class="add-button" mat-flat-button type="button" (click)="addCreateLink()">+</button>
                </div>
            </div>
            <div class="checkbox-group" formGroupName="icon" fxLayout="row">
                <div class="checkbox-item">
                    <p>JAMK</p>
                    <input type="checkbox" formControlName="jamk">
                </div>
                <div class="checkbox-item">
                    <p>JKL</p>
                    <input type="checkbox" formControlName="jkl">
                </div>
                <div class="checkbox-item">
                    <p>WEB</p>
                    <input type="checkbox" formControlName="web">
                </div>
            </div>
            <button mat-flat-button>TALLENNA</button>
        </form>
        <button mat-flat-button (click)="toggleCreate()">PERUUTA</button>
    </div>

    <div fxLayout="column" fxLayoutAlign="start start">
        <div *ngFor="let source of pageContent.supportSources; let i = index">
            <!-- Normal element card -->
            <div class="element" *ngIf="!createIsToggled && elementToEdit !== source._id">
                <div>
                    <h2>{{ source.sourceName }}</h2>
                    <p *ngIf="source.description">{{ source.description }}</p>
                    <p *ngIf="source.phone">{{ source.phone }}</p>
                    <div *ngFor="let link of source.link">
                        <a [href]="link" class="support-link">{{ link }}</a>
                    </div>
                    <p *ngIf="source.icon">{{ source.icon }}</p>
                    <button mat-flat-button (click)="toggleEdit(source)">MUOKKAA</button>
                    <button mat-flat-button (click)="deleteSupportSource(pageContent._id, source._id)">POISTA</button>
                </div>
                <div>
                    <button (click)="moveElement(pageContent._id, source._id, 'up')" *ngIf="i > 0" class="move-button">&uarr;</button>
                    <button (click)="moveElement(pageContent._id, source._id, 'down')" *ngIf="i < pageContent.supportSources.length-1" class="move-button">&darr;</button>
                </div>
            </div>

            <!-- Edit element card -->
            <div class="element" *ngIf="!createIsToggled && editIsToggled && elementToEdit == source._id">
                <form class="edit" [formGroup]="editForm" (ngSubmit)="onEditSubmit(pageContent._id, source._id)" fxLayout="column" fxLayoutAlign="center start">
                    <mat-form-field appearance="fill">
                        <mat-label>Tukipalvelun nimi</mat-label>
                        <input type="text" formControlName="sourceName" matInput required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Tukipalvelun kuvaus</mat-label>
                        <textarea
                            formControlName="description"
                            matInput
                        ></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Tukipalvelun puhelinnumero</mat-label>
                        <input type="text" formControlName="phone" matInput>
                    </mat-form-field>
                    <div class="mat-ff-wrap" formArrayName="links" *ngFor="let link of editFormLinks.controls; let i = index">
                        <mat-form-field appearance="fill">
                            <mat-label>Linkki #{{i+1}}</mat-label>
                            <textarea [formControlName]="i" matInput></textarea>
                            <button mat-flat-button color="warn" type="button" (click)="removeEditLink(i)">X</button>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column">
                        <div fxLayout="row">
                            <button class="add-button" mat-flat-button type="button" (click)="addEditLink()">+</button>
                        </div>
                    </div>
                    <div class="checkbox-group" formGroupName="icon" fxLayout="row">
                        <div class="checkbox-item">
                            <p>JAMK</p>
                            <input type="checkbox" formControlName="jamk">
                        </div>
                        <div class="checkbox-item">
                            <p>JKL</p>
                            <input type="checkbox" formControlName="jkl">
                        </div>
                        <div class="checkbox-item">
                            <p>WEB</p>
                            <input type="checkbox" formControlName="web">
                        </div>
                    </div>
                    <button mat-flat-button>TALLENNA</button>
                </form>
                <button mat-flat-button (click)="toggleEdit()">PERUUTA</button>
            </div>
        </div>
    </div>
</div>