<div fxLayout="column" fxLayoutAlign="start start" class="main-page-wrapper">
    <div fxLayout="column" fxLayoutAlign="start start" *ngFor="let page of pages$ | async">
        <div class="element">
            <h2>{{ page.pageName }}</h2>
            <p *ngIf="page.subtitle">{{ page.subtitle }}</p>
            <button [routerLink]="['/page/', page._id]" mat-flat-button>Näytä sisältö</button>
            <button mat-flat-button>Muokkaa</button>
            <button mat-flat-button>Poista</button>
        </div>
    </div>
</div>