/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#loginForm {
    margin-top: 40px;
}

#navbar {
    width: 100%;
    height: 40px;
    background-color: #00588e;
}

.button {
    background-color: #00588e;
    color: white;
}

.nav-button {
    z-index: 1;
}

.nav {

}

.nav-header {
    color: white;
    font-weight: 500;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.outlet {
    padding-top: 1em;
    height: calc(100% - 40px - 1em);
    overflow: scroll;
}